header {
  background: linear-gradient(rgba(135, 80, 156, 0.9), rgba(135, 80, 156, 0.9)),
  url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 85vh;
  position: relative;
  width: 100%;

  .logo {
    height: 3.5rem;
    width: auto;
    float: left;
  }
  .navbar {
    padding-top: 3.8rem;
  }
}
.mobile-icon{
  span{
    display: none;
    color: #fff;
    font-size: 3.7rem;
    float: right;
    cursor: pointer;
  }
}
.overly-dis{
  width: 0%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: .6s;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  .menu-item{
    position: relative;
    top: 10%;
    width: 100%;
  }
  .dissmiss{
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    font-size:3rem;
    padding: 0rem 0.8rem;
    float: right;
    margin: 2.5rem;
  }
  .menu{
    content: "";
    clear:both;
    display: block;
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    font-size: 3rem;
    padding: 1.3rem 0;
  }
  .menu:hover{
    color: rgb(255,255,255);
  } 
  .dissmiss:hover{
    color: rgb(255,255,255);
    border: 1px solid #fff;
  }
}
.nav-menu {
  float: right;
  padding-top: 0.6rem;

  li {
    display: inline-block;
    margin-left: 0.8rem;
    padding: 0.3rem 0.6rem;
    border-radius: 0.2rem;

    a,
    a:link {
      color: #fff;
      text-decoration: none;
      font-size: 1.4rem;
    }
  }

  li:hover {
    background-color: #643a79;
    transition: 1s;
  }

  li:first-child {
    margin-left: 0;
  }
  .active {
    background-color: rgba(135, 80, 156, 0.9);
  }
}
//sticky navigation
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #87509c;
  box-shadow: 0rem 0.1rem 0rem #ffffff7a;
  z-index: 999;

  .navbar {
    padding-top: 0rem;
    padding: 1rem 0 1.5rem 0;
  }
}
.heading-box {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100rem;

  .btn-hero {
    @extend .btn;
    background-color: #eb7d4b;
    border-color: #c86a40;
    margin-top: 2.5rem;
  }
}