@media only screen and (max-width: 1200px) {
  header {
    height: 85vh;
  }
  .row {
    padding: 0 15px;
    text-align: center;
  }
  .heading-box {
    width: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  header{
    height: 80rem;
  }
  .heading-box {
    top: 55%;
    left: 50%;
  }
  .mobile-icon span {
    display: block;
  }
  .nav-menu {
    display: none;
  }
  html {
    font-size: 57%;
  }

  #testimonial {
    .col {
      text-align: center;
    }

    .clint_photo img {
      float: none;
      margin-right: 0;
      margin-bottom: 15px;
    }
    .clint_reviwe {
      float: none;
    }
    span {
      margin-left: 0;
    }
    h3 {
      margin-left: 0;
    }
    .col:nth-child(3),
    .col:nth-child(4) {
      margin-top: 30px;
    }
  }
  #contact {
    form {
      width: 100%;
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 980px) {
  .span_1_of_4 {
    width: 49.2%;
  }
  .span_1_of_4:nth-child(3) {
    margin-left: 0;
  }
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 768px) {
  header{
    height: 70rem;
  }
  .heading-box {
    top: 60%;
    left: 50%;
  }
  .mobile-icon span {
    margin-right: 1rem;
  }
  .sticky {
    .navbar {
      padding: 10px 0 15px 10px;
    }
  }
  .little-description {
    margin-left: 0;
    width: 100%;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 480px) {
  header{
    height: 63rem;
  }
  .span_1_of_4 {
    width: 100%;
  }
  html {
    font-size: 45%;
  }

  #footer {
    .span_1_of_7 {
      width: 32.26%;
    }
    .span_1_of_7:last-child {
      width: 100%;
      text-align: center;
    }
  }
  h1 {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 375px) {
  header{
    height: 53rem;
  }
  .heading-box {
    top: 60%;
    left: 50%;
  }
  h1 {
    font-size: 3rem;
  }
  #portfolio {
    .filter {
      button {
        padding: 0.9rem 1rem;
        margin-left: 0.2rem;
      }
    }
  }
}
