#testimonial {
  background-repeat: no-repeat;
  background: radial-gradient(rgba(215, 70, 128, 0.9), rgba(215, 70, 128, 0.88)),
    url(../img/testimonial-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;

  h2 {
    color: #fff;
  }
  h2::after {
    background-color: #b73c6d;
  }
  .little-description {
    text-align: center;
    margin: auto;
  }
  .col:nth-child(3) {
    margin-left: 0;
  }
  .col {
    text-align: left;
  }

  .col:nth-child(1),.col:nth-child(2){
      margin-top: 6rem;
  }
  .col:nth-child(3),.col:nth-child(4){
      margin-top: 10rem;
  }

  .clint_photo 
    img{
    height: 9rem;
    border-radius: 50%;
    float: left;
    margin-right: 3rem;
  }

  .clint_reviwe{
      float: left;
  }
  p{
      font-size: 1.8rem;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 2rem;
  }
  span{
    margin-left: 11.9rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #facd96;
  }
  h3{
      margin-left: 11.9rem;
  }

}
