// =====================================
// Besic setup
// =====================================
@import "../vendors/scss/normalize";
@import "../vendors/scss/grid";
@import "../vendors/scss/animated-circle";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;  
}

body{
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
}


.clearfix::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

// =====================================
// Reuseable data
// =====================================
@import "./reuseable";

// =====================================
// header section
// =====================================

@import "./header";

// =====================================
// services section
// =====================================
@import "./services";
// =====================================
// Team section
// =====================================
@import "./team";
// =====================================
// Skill section
// =====================================
@import "./skill";
// =====================================
// portfolio section
// =====================================
@import "./portfolio";
// =====================================
// testimonial section
// =====================================
@import "./testimonial";
// =====================================
// contact section
// =====================================
@import "./contact";
// =====================================
// footer section
// =====================================
@import "./footer";
// =====================================
// responsive section
// =====================================
@import "./responsive";
